include README.rst
include COPYING
include codemeta.json
include requirements.txt
include clam/static/*.*
include clam/custom/*
include clam/static/tableimages/*
include clam/templates/*
include clam/style/*
include clam/clients/*.py
include clam/tests/*.py
include clam/wrappers/*.py
include clam/wrappers/*.sh
include clam/config/*.wsgi
include clam/config/*.yml
include clam/tests/*.yml
