body {
	font-family: Lato, Ubuntu, sans-serif;
	background: url(back.png);
	margin: 0;
	padding: 0;
}

div#cover {
    text-align: center;
    background: url(cover.jpg) no-repeat;
    background-size: 100%; 
    background-attachment: fixed;
    padding-top: 50px;
    width: 100%;
	margin: 0px;
    min-height: 240px;
}

a:link {
	color: #FF0000;
	text-decoration: none;
}
a:visited {
	color: #02325A;
    text-decoration: none;
}
a:hover {
	color: #FF0000;
	text-decoration: underline;
}

#header {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 90px;
	background: white;
	text-align: left;
}

#menu {
    width: 100%;
    position: fixed; 
	background: black;
	color: #ddd;
	height: 25px;
    font-size: 90%;
	vertical-align: middle;
}
#menu  ul {
    border: 0 none;
    list-style: none outside none;
    margin-top: 3px;
    padding: 0;
    text-align: center;
}
#menu  li {
	display: inline;
	margin-left: 10px;
    margin-right: 10px;
}


#menu a {
	font-weight: bold;
	color: white;
}

#menu a:hover {
	font-weight: bold;
	color: #f9ff93;	
	text-decoration: underline;
}



h1#title  {
	font-size: 500%;
	font-weight: bold;
}


#slogan {
    display: block;
    font-size: 125%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
	color: #333;
	font-weight: medium;
    text-shadow: 2px 2px 3px rgba(220,220,220,0.3);
    background: rgba(220,220,220,0.3);
    padding: 20px;
    border-radius: 25%;
}



#rulogobox {
	float: right;
	display: block;
}
#rulogobox span.text {
    display: block;
    font-family: times;
    font-style: italic;
    margin-right: 90px;
}
#rulogo {
    display: block;
	background: url(rulogo.png);
    background-size: 384px 87px;
	width: 384px;
	height: 87px;
	min-width: 384px;
	min-height: 87px;
    margin-top: -30px;
}
#lamalogo {
    position: absolute;
    display: block;
	background: url(lama-logo.png);
    background-size: 150px 83px;
    opacity: 0.5;
	width: 150px;
	height: 83px;
	min-width: 150px;
	min-height: 83px;
    top:340px;
    right: 20px;
}


#icon {
	display: block;
    margin-left: auto;
    margin-right: auto;
	background: url(icon.png);	
	width: 137px;
	height: 80px;
    top: 20px;
	min-width: 121px;
	min-height: 80px;	
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 70%;	
	margin-top: 10px;
}

.box {
	background: white;
	width: 45%;	
	-moz-box-shadow: 10px 10px 5px #555;
	-webkit-box-shadow: 10px 10px 5px #555;
	box-shadow: 10px 10px 5px #555;
	padding: 15px;
	border: #aaa solid 1px;
	margin-bottom:20px;
}

#footer {
	width: 75%;
	display: block;
	min-height: 20px;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    font-size: 80%;
}

.leftbox {
	float: left;
}

.rightbox {
	float: right;
}

#langbox {
	float: right;
}
#langbox img {
	border: 2px white solid;
	margin-bottom: 2px;
}

section {
    background: white;
    border-radius: 20px;
	-moz-box-shadow: 10px 10px 5px #555;
	-webkit-box-shadow: 10px 10px 5px #555;
	box-shadow: 10px 10px 5px #555;
	padding: 20px;
	border: #aaa solid 1px;
	margin-bottom:50px;
}

#gradient {
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(211, 200, 180, 0.7), rgba(0, 0, 0, 0.1)) repeat scroll 0 0;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -100;
}

#covershadow {
    background-color: #837e75;
    padding: 0px;
    height: 8px;
    width: 100%;
    bottom: 0px;
    left: 50%;
    z-index: 5;
    -webkit-box-shadow: 0px 2px 4px #000000;
       -moz-box-shadow: 0px 2px 4px #000000;
            box-shadow: 0px 2px 4px #000000;
}
 
code {
    padding: 5px;
    background: #fffbea;
    border-bottom: 2px solid #ddd;;
}
img.big {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
