<html>
  <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/> 
        <title>Radboud LST &middot; CLAM Webservice Portal</title>
        <link rel="StyleSheet" href="/style/clamopener.css" type="text/css" /> 
  </head>
  <body>
      <div id="container">
          <div id="header">
              <h1>Radboud LST &middot; CLAM Webservice Portal</h1>
          </div>
          <div id="main">
              <p>The following <a href="http://proycon.github.com/clam">CLAM</a> webservices are available on this domain. You will need an account to access them. An account can be obtained free of charge for small-scale non-commercial use. The webservices can be accessed by both end-users, offering an in-browser interface, as well as by software. <a href="register/">Apply for an account</a> here, staff members will review your application and activate your account.</p>
              <table id="index">
                <tr>
                    <th class="colname">Service Name</th>                    
                    <th class="coldesc">Description</th>
                </tr>
              {% for service in services %}
                <tr>
                    <td class="colname"><a href="{{ service.url }}">{{ service.name }}</a></td>
                    <td class="coldesc">{{ service.description }}
                    <br /><br />
                    Webservice: <a href="{{ service.url }}">{{ service.url }}</a>
                    <br /><br />
                    {% if service.website %} 
                    Homepage: <a href="{{ service.website }}">{{ service.website }}</a>
                    {% endif %}
                    </td>
                </tr>
              {% endfor %}
              </table>
              <p>For further details please contact <a href="mailto:a.vandebosch@let.ru.nl">Antal van den Bosch</a>, for technical support regarding CLAM you can contact <a href="mailto:proycon@anaproy.nl">Maarten van Gompel</a></p>. 
          </div>
      </div>
  </body>
</html>
