<html>
  <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/> 
        <title>Webservice Registration</title>
        <link rel="StyleSheet" href="/style/clamopener.css" type="text/css" /> 
  </head>
  <body>
      <div id="container">
          <div id="header">
              <h1>Webservice Registration Form</h1>
          </div>
          <div id="main">
              <p>Thank you for your registration. Your application will be reviewed shortly by an administrator, after which your account will be activated. You will receive a mail to inform you when your account is available.</p>
          </div>
        </div>          
  </body>
</html>
