<html>
  <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/> 
        <title>Webservice Registration</title>
        <link rel="StyleSheet" href="/style/clamopener.css" type="text/css" /> 
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/>
  </head>
  <body>
      <div id="container">
          <div id="header">
              <h1>User list</h1>
          </div>
          <div class="box">              
              <form method="post" action="/userlist/">
                {% csrf_token %}
                Master password: <input type="password" name="pw" /><br />
                <input type="submit" value="Show list" />
              <form>
          </div>
        </div>          
  </body>
</html>

