body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 11px;
    background: url(back.png);
    margin: 0px;
    padding: 0px;
}

#container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  min-height: 500px;
}

#header {
    display: block;
    text-align: center;
    width: 100%;
    border-bottom: 5px solid black;
    background: white;
    margin-bottom: 25px;
   min-height: 60px;
vertical-align: middle;
}

#header h1 {
   color: #964205; 
   padding: 0;
   margin: 0;
   font-size: 250%;
   vertical-align: middle;
   padding-top: 12px;   
   display: block;
}

a {
   color: #964205; 
}

.box {
    width: 800px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    /* background: rgba(0,0,0,0.2); */
    border: 1px solid #aaa;
    background: white;
    padding: 25px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px #555;
}

#lamalogo {
   position: absolute;
   background: url(lama-logo.png);
   width: 320px;
   height: 50px;
   left: 10px;
}
#clstlogo {
  position: absolute;
  background: url(clstlogo.png) no-repeat;
  height: 50px;
  width: 214px;
  right: 60px;
}
#rulogo {
  position: absolute;
  background: url(rulogo.png) no-repeat;
  height: 50px;
  width: 40px;
  right: 10px;
}

#form {
    width: 400px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
form label {
    display: inline-block;
    font-weight: bold;
    width: 150px;    
}
form input {
    width: 250px;
}
#submitbutton {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    margin-top: 20px;    
}
table#index {
    width: 100%;
}

table th {
    color: black;
    font-weight: bold;
    font-size: 12px;
}
table td {
    color: black;
    font-size: 11px;
    padding-bottom: 10px;  
    border-bottom: 1px solid #ddd;
}
tr:hover {
  background: #eee;
}
th.colname {
    width: 30%;
    font-size: 15px;
    font-weight: bold;
}
th.coldsc {
    width: 70%;
}

td.colname {
    font-size: 12px;
    font-weight: bold;    
    vertical-align: top;
}
td.colname a {
    text-decoration: none;
}

label {
  font-variant: small-caps;
}
