body {
	background: url(static/back.png);
    font-size: 12px;
}
#gradient {
    display: block;
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(30, 30, 30, 0.7), rgba(0, 0, 0, 0.1)) repeat scroll 0 0;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -100;
}
#container {
    padding-bottom: 2px;
}
#cover {
    width: 100%;
    background-color: #262a2d;
    overflow: hidden;
}

#status p {
    text-align: center;
    font-style: italic;
    color: #434343;
}


/*
.parameters table th, #parameters table  td {
  border-bottom:  1px solid #e1e1e1;
}

.parameters h4 {
    color: #ac8644;
    text-decoration: small-caps;
    border-bottom:  1px solid #ca9c4d;
}
*/

input[type="text"], select, textarea, .form-control, #editorfilename, #urluploadfile, #projectname {
    background: #bbb;
}

input.start {
    font-weight: bold;
    font-size: 160%;
    min-width: 100px;
    width: 20%;
}


#status p {
    text-align: center;
    font-style: italic;
    color: #434343;
}

#statuslog td.time {
    font-size: 80%;
    font-family: monospace;
    color: gray;
}
#statuslog td.message {
    font-style: italic;
}

#progressvalue {
    background: gray;
    color: white;
}





#container .qq-upload-button {
    background: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer !important;
    width: 50%;
    padding: 10px;
    font-size: 1rem;
}
#container .qq-upload-button:hover {
    background: #0062cc;
    border-color: #0062cc;
    cursor: pointer !important;
}
#container .qq-upload-button input, #container .qq-upload-button div {
    cursor: pointer !important;
}

.card {
    margin-bottom: 2px;
}


div#actionindex p {
    margin-left: 20px;
}
div#actionindex form {
    margin-left: 30px;
}

span.running {
    color: #b216fb;
    font-weight: bold;
}

span.staging {
    color: #292975;
    font-weight: bold;
}

span.done {
    color: #276427;
    font-weight: bold;
}

#startbutton {
    margin-top: 5px;
}

tr.even {
    background: #eee !important;
}
tr, td {
    vertical-align: top;
}

table .file {
    font-family: monospace;
}

#actions input {
    width: 100%;
    margin-bottom: 3px;
}

.deletefile {
    color: #800;
    cursor: pointer;
}

.card-text {
    max-width: 800px;
}

#systeminfo {
    float: right;
    width: 350px;
    z-index: 50;
    word-wrap: break-word;
}
#customhtml .alert {
    clear: right;
}
#customhtml {
    margin-top: 10px;
}
#parameters table {
    margin-left: 20px;
}
.qq-upload-file {
    font-family: monospace;
}
.qq-upload-status-text {
    font-size: 90%;
}
textarea.form-control {
    height: 240px;
}

