body {
	background: url(static/back.png);
    font-family: sans-serif;
    font-size: 12px;
}
#gradient {
    display: block;
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(211, 200, 180, 0.7), rgba(0, 0, 0, 0.1)) repeat scroll 0 0;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -100;
}
#container {
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(207, 191, 157, 0.4), rgba(0, 0, 0, 0.1)) repeat scroll 0 0;
	border-radius: 12px;
    -moz-border-radius: 12px; /* CSS3 for older Mozilla */
    -webkit-border-radius: 12px; /* CSS3 for Safari */
    padding-bottom: 2px;	
}

#status p {
    text-align: center;
    font-style: italic;
    color: #434343;
}

h2 {
    font-size: 120%;
    color: #a6956f;
    text-decoration: small-caps;  
    border-bottom:  1px solid #a6956f;
}
h3 {
    margin-left: 5px;
    font-size: 100%;
    color: #a6956f;
    text-decoration: small-caps;  
    border-bottom:  1px solid #a6956f;
}
#header {
	background: rgba(155,140,107,0.5);
    margin: 0px;
}
#header h1 {
    color: white;
}

#header h2 {
    color: white;
    font-style: italic;
    font-size: 100%;
    margin: 1px;
    border: none;
}

#covershadow {
    display: block;
    background-color: #837e75;
    padding: 0px;
    height: 8px;
    width: 100%;
    bottom: 0px;
    margin-bottom: 15px;
    left: 50%;
    z-index: 5;
    -webkit-box-shadow: 0px 2px 4px #000000;
       -moz-box-shadow: 0px 2px 4px #000000;
            box-shadow: 0px 2px 4px #000000;
}

.box {
    background: #f6f6f6;
    border-radius: 20px;
	-moz-box-shadow: 5px 5px 5px #666;
	-webkit-box-shadow: 5px 5px 5px #666;
	box-shadow: 5px 5px 5px #666;
	padding: 10px;
	border: #aaa solid 1px;
	margin-bottom:10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
table.files, table#projects {
    border: #ca9c4d;
}

table#projects td {
    -moz-border-radius: 5px; /* CSS3 for Mozilla */
    -webkit-border-radius: 5px; /* CSS3 for Safari */
}

body table.files td:hover, table.files th:hover, table#projects td:hover {
    background: #eee;
}

table.files td {
    -moz-border-radius: 5px; /* CSS3 for Mozilla */
    -webkit-border-radius: 5px; /* CSS3 for Safari */
}

table.files thead th {
    background: #cbcbcb;
    -moz-border-radius: 5px; /* CSS3 for Mozilla */
    -webkit-border-radius: 5px; /* CSS3 for Safari */
}

table.files td.actions {
    background: #eee;
    text-align: center;
}

.parameters table th, #parameters table  td {
  border-bottom:  1px solid #e1e1e1;
}

.parameters h4 {
    color: #ac8644;
    text-decoration: small-caps;  
    border-bottom:  1px solid #ca9c4d;
}

input[type="text"], select, textarea, #editorfilename, #urluploadfile, #projectname {
    background: #ddd;
    border: 1px solid #cfbf9d;
}

input.start {
    font-weight: bold;
    font-size: 160%;
    min-width: 100px;
    width: 20%;
}

input.uploadbutton {
    font-weight: bold;
}

#status p {
    text-align: center;
    font-style: italic;
    color: #434343;
}

#statuslog td.time {
    font-size: 80%;
    font-family: monospace;
    color: gray;
}
#statuslog td.message {
    font-style: italic;
}

#progressvalue {
    background: gray;
    color: white;
}

#tabs {
	background: #E6DCCA;
}


#tabs li.active {
	background: #cfbf9d;
	color: white;
	text-decoration: underline;
	border:#cfbf9d solid 1px;
	font-size: 100%;
}

#tabs li.disabled {
	background: #bfbfbf;
	color: white;	
	border:#bfbfbf solid 1px;
    opacity: 0.6;
}

#tabs li {
	font-size: 90%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;	
	border: #cbc3b1 solid 1px;
	background: #cbc3b1;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
	cursor: pointer;
}
#tabs a, #tabs a:visited {
	color: white;
	text-decoration: none;
}
#tabs a:hover {
	color: #fffeb9;
	text-decoration: none;
}
#status .error {
	margin: 2px;
	width: 70%; 
}
a {
	color: #574b32;
}
a:visited {
	color: #6d6450;
}

input.uploadbutton, input.submitaction {
	background: #8a4949;
	padding: 7px;
	color: white;
	font-weight: normal;
	font-size: 12px;
    border-radius: 5px;
}

#container .qq-upload-button {
    background: #8a4949;
    border-radius: 5px;
}
#container .qq-upload-button:hover {
    background: #aa0000;
}


input#indexbutton, input#abortbutton, input#restartbutton, input#deletebutton, input#startprojectbutton, button.quickdelete {
	background: #8a4949;
	padding: 2px;
	color: white;
	font-weight: normal;
	font-size: 11px;
	width: 180px;
	border: none;
	cursor: pointer;
    border-radius: 5px;
    margin: 1px;
}
input#indexbutton:hover, input#abortbutton:hover, input#restartbutton:hover, input#deletebutton:hover, input#startprojectbutton:hover, button.quickdelete:hover {
	background: #EE0000;	
}

input.uploadbutton:hover {
	background: #AA0000;
    border-radius: 5px;
}


div#startbutton input {
	background: #8a4949;
	padding: 14px;
	color: white;
	font-weight: bold;
	font-size: 26px;
    border-radius: 5px;
}

div#startbutton input:hover {
	background: #AA0000;
}
div#actionindex p {
    margin-left: 20px;
}
div#actionindex form {
    margin-left: 30px;
}

span.running {
    color: #b216fb;
    font-weight: bold;
}

span.staging {
    color: #b3943f;
    font-weight: bold;
}
