:root {
    --background-color: white;
    --dark-accent-bg: #343a40;
    --dark-accent-fg: white;
    --accent-bg: #0069d9;
    --accent-fg: white;
}

body {
    font-family: sans-serif;
    margin: 0px;
    background: url(back.png);
    font-size: 12px;
}

#gradient {
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(30, 30, 30, 0.7), rgba(0, 0, 0, 0.1)) repeat scroll 0 0;
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -100;
}

#systeminfo {
    float: right;
    width: 350px;
    z-index: 50;
    word-wrap: break-word;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.125);
}

#systeminfo th {
    text-align: left;
    vertical-align: top;
    width: 25%;
}
#systeminfo td {
    text-align: left;
    vertical-align: top;
    width: 75%;
}
#systeminfo .emblem {
    float: right;
}
#systeminfo ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

details summary {
    font-weight: bold;
    cursor: pointer;
}

.block {
    clear: both;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    background-color: var(--background-color);
    word-wrap: break-word;
    border-radius: 0.25rem;
    border: 1px solid var(--background-color);
    margin-bottom: 2px;
    overflow: hidden;
}

.porch {
    float: right;
    width: 350px;
    z-index: 50;
    word-wrap: break-word;
    padding: 10px;
}
.porch a {
    display: block;
    width: 90%;
    text-align: center;
    font-weight: 400;
    background: var(--accent-bg);
    color: var(--accent-fg);
    border-radius: 0.35rem;
    appearance: button;
    padding: 10px;
    text-decoration: none;
}
.porch a:hover {
    opacity: 90%;
    box-shadow: 3px 3px 3px var(--dark-accent-bg);
}


header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 2px;
    background-color: var(--dark-accent-bg);
    word-wrap: break-word;
    border-radius: 0.25rem;
    border: 1px solid var(--dark-accent-bg);
    margin-bottom: 2px;
    padding: 10px;
}

header h1 {
    display: inline-block;
    color: var(--dark-accent-fg);
    font-size: 1.25rem;
    white-space: nowrap;
}

footer {
    font-family: monospace;
    font-size: 80%;
    text-align: center;
}

