{% include "header" %}

<div class="block">

<h2>{{ name }}</h2>

<section class="description">
{{ description }}
</section>

</div>

{% if config.termsofservice | exists %}
<div class="block">
<details class="termsofservice" title="Click to expand the terms of service">
<summary>Terms of Service</summary>
<div>{{ config.termsofservice }}</div>
</details>
</div>
{% endif %}

<div class="block">
<h2>New project?</h2>
<form method="post" action="{{ path }}projects" type="application/x-www-form-urlencoded">
    <input type="text" name="project" title="This is the name/identifier of the project. It may not contain any spaces or special characters.">
    <input type="submit" value="Create new project">
</form>
</div>

<div class="block">
<h2>Existing Projects</h2>
<ul>
{% for project in projects %}
<li><a href="{{ path }}{{ project }}">{{ project }}</a></li>
{% endfor %}
</ul>
</div>

{% include "footer" %}
