{% include "header" %}

<div class="block">
<a href="{{ parentpath }}">◂ Back to the project list</a>
</div>

<div class="block">

<h2>{{ name }} :: {{ project }}</h2>


<section class="description">
{{ description }}
</section>


</div>


{% if config.termsofservice | exists %}
<div class="block">
<details class="termsofservice" title="click to expand the terms of service">
<summary>terms of service</summary>
<div>{{ config.termsofservice }}</div>
</details>
</div>
{% endif %}

{% if status.stage | eq: "Staging" %}
<div class="block">
<h2 class="staging">Status: 🏗 Staging (1/4)</h2>

<p>Set the desired input parameters for your project and press the <strong>Run</strong> button when ready...</p>
</div>

<div class="block">
<h2>Input files</h2>
<table class="files">
<thead>
    <tr><th>Filename</th><th>Parameter</th><th>File type</th></tr>
</thead>
<tbody>
{% for inputfile in status.data.input_files %}
<tr><td class="filename"><a href="{{ path}}/{{ inputfile.parameter_id }}/{{inputfile.name }}">{{ inputfile.name }}</a></td><td class="parameter">{{inputfile.parameter_name}}</td><td class="filetype">{{ inputfile.filetype.name }}</td></tr>
{% endfor %}
</tbody>
</table>
</div>

<form method="post" action="{{ path }}" enctype="multipart/form-data">

<div class="block">
<h2>Parameters</h2>
<table class="parameters">
{% for parameter in parameters %}
{% include "parameter" %}
{% endfor %}
</table>
</div>

<div class="block">
    <input type="submit" value="Run">
</div>
</form>
<div class="block">
    <div class="dangerbuttons">
        <form method="post" action="{{ path }}/delete" enctype="application/x-www-form-urlencoded">
            <input type="submit" value="Delete this project" title="All input files will be lost">
        </form>
    </div>
</div>
{% else if status.stage | eq: "Scheduled" %}
<div class="block">
    <h2 class="staging">Status: ⏳ Scheduled (2/4)</h2>

    <p>Your project is scheduled to start automatically, this may take some time. You can close this page and come back to it at any time.</p>
</div>
{% else if status.stage | eq: "Running" %}
<div class="block">
    <h2 class="staging">Status: 🏃 Running (3/4)</h2>

    <p>Your project is running and may take some time to complete. You can close this page and come back to it at any time.</p>

    {% if status.data.progress %}
    <progress value="{{ status.progress }}" max="100">{{ status.data.progress }}%</progress>
    {% endif %}
    {% if status.data.statuslog %}
    <pre id="statuslog">{{ status.data.statuslog }}</pre>
    {% endif %}
</div>
<div class="block">
    <div class="dangerbuttons">
        <form method="post" action="{{ path }}/delete" enctype="application/x-www-form-urlencoded">
            <input type="submit" value="Cancel and delete project" title="All results and input files and will be lost">
        </form>
        <form method="post" action="{{ path }}/cancel" enctype="application/x-www-form-urlencoded">
            <input type="submit" value="Cancel and restart" title="This offers you the opportunity to go back to the staging state to resubmit parameters and try again. All results will be lost, but input files will be retained.">
        </form>
    </div>
</div>
{% else if status.stage | eq: "Done" %}
<div class="block">
    {%if status.data.success %}
    <h2 class="done">Status: ✅ Done (4/4)</h2>

    <p>Your project is done! You can inspect the output log and output files below.</p>

    <progress value="100" max="100">100%</progress>
    {% else %}
    <h2 class="failed">Status: ❌ Failed (4/4)</h2>

    <p>Your project has failed, please inspect the error log below.</p>
    {% endif %}

    {% if status.data.statuslog %}
    <pre id="statuslog">{{ status.data.statuslog }}</pre>
    {% endif %}
</div>
<div class="block">
<h2>Output Files</h2>
<table class="files">
<thead>
    <tr><th>Filename</th><th>File type</th></tr>
</thead>
<tbody>
{% for outputfile in status.data.output_files %}
<tr><td class="filename"><a href="{{ path }}/output/{{outputfile.name }}">{{ outputfile.name }}</a></td><td class="filetype">{{ outputfile.filetype.name }}</td></tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="block ">
    <div class="dangerbuttons">
        <form method="post" action="{{ path }}/delete" enctype="application/x-www-form-urlencoded">
            <input type="submit" value="Delete this project" title="All results and input files will be lost">
        </form>
        <form method="post" action="{{ path }}/cancel" enctype="application/x-www-form-urlencoded">
            <input type="submit" value="Discard all results and restart" title="This offers you the opportunity to go back to the staging state to resubmit parameters and try again. All results will be lost, but input files will be retained.">
        </form>
    </div>
</div>
{% endif %}

{% include "footer" %}
