body {
    background: #e6dcca;
    font-family: sans-serif;
    font-size: 12px;
}

#header {
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background: #ceb383;
    border: 1px none #ca9c4d;
    padding: 10px;
    text-align: center;
}

#header h1 {
    color: white;
    margin: 3px;
}
#header h2 {
    color: white;
    font-style: italic;
    font-size: 100%;
    margin: 1px;
}



#status, #parameters, #inputformats, #input, #output, #uploadform, #footer {
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background: #f6f6f6;
    border: 1px solid #ca9c4d;
    padding: 10px;
}

#status .ready {
    color: #2f7e35;
    font-weight: bold;
    font-size: 120%;
}

h3 {
    color: #ac8644;
    text-decoration: small-caps;  
    border-bottom:  1px solid #ca9c4d;
}

#input table, #output table {
    border: #ca9c4d;
    text-align: left;
    width: 60%;
}
#input table th, #output table th {
    font-family: monospace;
    font-weight: none;    
    width: 60%;
}
#input table td, #output table td {
    width: 20%;
    font-style: italic;
}

#footer {
    font-family: monospace;
    font-size: 80%;
    text-align: center;
}

#parameters table {
    width: 90%;
    text-align: left;
}

#parameters table th, #parameters table  td {
  border-bottom:  1px solid #e1e1e1;
}

#parameters th .description {
    font-weight: normal;
    font-style: italic;
    margin-left: 20px; 
    font-size: 90%;   
}

#startbutton {
    width: 100%;
    text-align: center;
}
input.start {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 160%;
    padding: 10px;
}
input.uploadbutton {
    font-weight: bold;
}
